:root {
    --vermelha: #E50914;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--vermelha);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #aaaaaa;
    margin-right: 10px;
}

header nav a:hover{
    color: #ffffff;
}

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0, 0, 0, .50) 100%), url('/img/capa-house.jpg');
    height: 400px;
    background-size: cover; /*faz a imagem se adequar ao tamanho da caixa */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.filme-principal .descricao {
    margin-bottom: 40px;
}

.titulo {
    font-size: 40px;
}